<!doctype html>
<html ng-app="typaApp">
<head>
  <meta charset="utf-8">
  <title>Type Ahead</title>
  <link rel="stylesheet" type="text/css" href="css/typa.css" />
  <script src="angular/1.3.10/angular.js"></script>
  <script src="angular/1.3.10/angular-resource.js"></script>
  <script src="nln-ui/nln-ui.js"></script>

  <script>
    var app = angular.module('typaApp', ['ngResource','nln.ui','nln.ui.utils']);
    //
    // Run
    app.run(['$rootScope', function($rootScope) { 
      $rootScope.endPoint = 'http://localhost:8070/rs/service';
      $rootScope.resources = {
         authors: '/authors/names'
        ,authorsJ: 'authors.json'
        ,series: '/communities/titles'
      };
    }]);
    //
    // Factories   
    app.factory('Authors', ['$rootScope', '$resource', function($rootScope, $resource) {
      return resource = $resource($rootScope.resources.authorsJ);
//      return $resource($rootScope.endPoint + $rootScope.resources.authors);
    }]);    
    app.factory('Series', ['$rootScope', '$resource', function($rootScope, $resource) {
      return $resource($rootScope.endPoint + $rootScope.resources.series);
    }]);    
    //
    // Controller
    app.controller('TypaController', ['$scope', '$rootScope', 'focus', 'Authors', 'Series',
    function($scope, $rootScope, focus, Authors, Series) {
          focus('search-author');

          $scope.myAuthors = [{"name":"Bouquet Michel"},{"name":"Bourgaux Pascale"},{"name":"Bourguignon Philippe"},{"name":"Bourguignon Serge"},{"name":"Bove Jose"},{"name":"Boxus Louis"},{"name":"Bozzuffi Marcel"},{"name":"Brach Gérard"},{"name":"Bracke Siegfried"},{"name":"Braeckman Colette"},{"name":"Brahms Johannes"},{"name":"Braibant Alain"},{"name":"Brando Marlon"},{"name":"Braoudé Patrick"},{"name":"Brasseur Claude"},{"name":"Brasseur Claudine"},{"name":"Brasseur Pierre"},{"name":"Bratlavsky Carine"},{"name":"Brauman Rony"},{"name":"Brebois Bertrand"}];


          $scope.getAuthors = function (pattern, success, error) {
            return(Authors.query({pt: pattern}, success, error));
          };

          $scope.getSeries = function (pattern, success, error) {
            return(Series.query({pt: pattern}, success, error));
          };

    }]);

  </script>
</head>
<body>
  <div ng-controller="TypaController">
    <pre>pattern:{{author.pattern}}</pre>
    <ul ng-model="author.selected">
      <li ng-repeat="item in author.selected">{{item}}</li>
    </ul>
    <input id="search-author" ng-model="author.pattern" style="width: 234px;" type="text" placeholder="Author name ..."
      nln-typahead nln-typa-resource="getAuthors" nln-typa-not-filter="true" nln-typa-selected="author.selected"/>

    <pre>pattern:{{serie.pattern}}</pre>
    <ul ng-model="serie.selected">
      <li ng-repeat="item in serie.selected">{{item}}</li>
    </ul>
    <input id="search-serie" ng-model="serie.pattern" style="width: 234px;" type="text" placeholder="Serie title ..."
      nln-typahead nln-typa-resource="getSeries" nln-typa-not-filter="true" nln-typa-selected="serie.selected"/>

  </div>

  <script>
  angular.module('template/typeahead/typa-container.html',[])
    .run(['$templateCache', function($templateCache) {
      $templateCache.put('template/typeahead/typa-container.html',
        '<div class="typa-container" ng-show="!isEmpty() && !isForceClose()" style="width: 234px;">\n'+
        '  <div class="typa-item" ng-repeat="item in hitsList | limitTo:7 as filterResults" ng-click="selectActive($event)"\n'+
        '    ng-class="{\'active\': isActive($index)}"\n'+
        '    ng-mouseenter="setActive($index)">\n'+
        '    <span class="typa-icon typa-icon-marker"></span>\n'+
        '    <span class="typa-item-query">{{item[label]}}</span>\n'+
        '  </div>\n'+
        '  <div>\n'+
        '    <button ng-if="filterResults.length > 1" ng-click="selectAll($event)" type="button">Simone, envoie tout !</button>\n'+
        '  </div>\n'+
        '</div>\n'+
        '');
    }]);

  </script>  
</body>
</html>
